.aboutContainer {
  background-color: rgba(210, 210, 210);
  padding: 30px;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  width: 80%;
  margin-bottom: 100px; 
}

.contactContainer {
  background-color: rgba(210, 210, 210);
  padding: 30px;
  padding-bottom: 60px;
  margin: auto;
  border-radius: 10px;
  width: 80%;
}

.projectContainer {
  background-color: rgba(210, 210, 210);
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 460px) {
  .projectContainer, .aboutContainer, .contactContainer {
    width: 100%;
    border-radius: 0;
  }
}