.wrapper {
  margin: auto;
  text-align: center;
  min-height: 100%;
  padding-bottom: 100px; 
}

.homeWrapper {
  position: relative;
  margin: auto;
  text-align: center;
  min-height: 100%;
  padding-bottom: 100px; 
  overflow: hidden;
}

.aboutWrapper {
  margin: auto;
  text-align: center;
  margin-top: 100px;
  background-color:  #4B9CD3;
  width: 80%;
  padding: 30px;
  margin-bottom: 100px; 
  border-radius: 10px;
}
