.home {
  margin-top: 25vh;
  color: white;
  font-size: 4rem;
}

.homeHeaderDiv {
  background-color: rgba(19, 19, 19, 0.25);
  width: 35%;
  margin: auto;
  border-radius: 10px;
}

.about {
  margin-top: 100px;
}