nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar-collapse {
  justify-content: center;
}

.nav {
  font-size: 1.5rem;
}

.nav-link {
  color: white;
}

.navbar-toggler-icon {
  color: white;
  padding: 10px;
}