nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(19, 19, 19, 0.25);
}

.navbar-collapse {
  justify-content: center;
}

.nav {
  font-size: 1.5rem;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: rgb(0, 195, 255);
}

.navbar-toggler-icon {
  color: white;
  padding: 10px;
}
