nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(19, 19, 19, 0.25);
}

.navbar-collapse {
  justify-content: center;
}

.nav {
  font-size: 1.5rem;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #4B9CD3;
}

.navbar-toggler-icon {
  color: white;
  padding: 10px;
}

@media screen and (max-width: 991px) {
  nav {  
    padding-bottom: 2%;
  }
}

@media screen and (max-width: 460px) {
  nav {
    background-color: rgb(27, 26, 26);
  }
}
