.accordion {
  background-color:  rgb(39, 39, 39);
  margin-top: 30px;
  color: white;
  border-radius: 10px;
}

.aboutBtn {
  font-size: 1.25rem;
  border-bottom: 1px solid white;
  color: white;
  padding-bottom: 30px;
}

.aboutBtn:hover, .aboutBtnLast:hover {
  color: #4B9CD3;
}

.aboutItem {
  font-size: 1rem;
  text-align: justify;
  margin: auto;
  width: 60%;
}

.aboutBtnLast {
  font-size: 1.25rem;
  color: white;
  border-bottom: transparent;
}

@media screen and (max-width: 460px) {
  .aboutItem {
    width: 100%;
  }
}
